doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFDOKTK702SEWpOig_e_qYLdOQpt4dxQaCNA&s')
    block content
